#calendarWrapper {
  position: absolute;
  display: grid;
  margin: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  overflow-y: auto;
  font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.calendarDayHeader {
  border-bottom: 3px solid #FFF;
  text-align: left;
  padding: 5px;
}

.calendarDayHours {
  display: grid;
  grid-auto-flow: row;
}

.calendarHour {
  border: 1px solid rgba(0,0,0,0.3);
}

.calendarDay {
  display: grid;
  width: 100%;
  height: 100%;
}
